html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-nav .nav-link {
    transition: 0.2s;
    font-weight: 500;
}

    .navbar-nav .nav-link:hover {
        color: #ffd966 !important;
        transform: translateY(-2px);
    }

.navbar-brand {
    font-size: 1.35rem;
}

.btn-outline-warning {
    transition: 0.2s;
}

    .btn-outline-warning:hover {
        background-color: #ffcc00;
        color: black;
    }